<!DOCTYPE html>
<html lang="en">

@using Microsoft.AspNetCore.Identity
@using Mentat.UI.Areas.Identity.Data

@inject SignInManager<MentatUser> SignInManager
@inject UserManager<MentatUser> UserManager

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mentat</title>
    <link rel="stylesheet" href="~/css/fsu-theme.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="~/css/toastr.min.css"/>
    <link rel="stylesheet" href="~/css/all.min.css"/>
    <link rel="stylesheet" href="~/css/bootstrap-multiselect.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3 mt-lg-5">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Mentat</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Mentor" asp-action="Index">Mentor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Index">Student</a>
                        </li>
                    </ul>
                </div>

                <div class="navbar-collapse collapse justify-content-end">
                    <ul class="navbar-nav">

                        <div class="row">
                            <div class="col-4">
                                @if (SignInManager.IsSignedIn(User))
                                {
                                   <a style="position:relative;left:5px;top:8px" id="UserProfile" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/UserProfile" title="View Profile">@UserManager.GetUserName(User)</a>
                                }
                            </div>

                            <div class="col-4">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <img src="~/images/blank-profile-picture-g235ada478_640.png" width="40" height="40" class="rounded-circle">
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <partial name="_LoginPartial" />
                                    </div>
                                </li>
                            </div>
                        </div>  
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Mentat - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/js/bootstrap-multiselect.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
