<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mentat.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Mentat.UI</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="page-footer">

        <div class="footer-content">
            <div class="row">
                <div class="col-md-3">
                    <p>Florida State University Panama City<br>
                        4750 Collegiate Drive<br>
                        Panama City, Florida 32405</p>
                </div>

                <div class="col-md-3">
                    <p>FSU Panama City Directory Assistance:<br><a href="tel:+18508724750">(850) 872-4750</a><br><a href="https://my.fsu.edu/" target="_blank" >myFSU</a></p>
                </div>

                <div class="col-md-3">
                    <p>Toll Free:&nbsp;<a href="tel:+18666937872" rel="" target="" title="">(866) 693-7872&nbsp;</a>(MYFSUPC)<br>
                    FSU Panama City <a href="https://pc.fsu.edu/Faculty-Staff" target="_blank" title="">Human Resources</a><br><a href="mailto:hjohnson@pc.fsu.edu">Site Manager</a></p>
                </div>

                <div class="col-md-3">
                    <ul class="socials">
                        <li><a href="https://www.facebook.com/FSUPC" target="_blank" title="Like Florida State Panama City on Facebook"><i class="fa fa-facebook ">&nbsp;</i></a></li>
                        <li><a href="https://instagram.com/fsupc/" target="_blank" title="Follow Florida State Panama City on Instagram"><i class="fa fa-instagram ">&nbsp;</i></a></li>
                        <li><a href="https://twitter.com/fsupc" target="_blank" title="Follow Florida State Panama City on Twitter"><i class="fa fa-twitter ">&nbsp;</i></a></li>
                        <li><a href="https://www.youtube.com/FloridaStatePC" target="_blank" title="Follow Florida State Panama City on Youtube"><i class="fa fa-youtube ">&nbsp; </i></a></li>
                        <li><a href="https://www.pinterest.com/fsupc" target="_blank" title="Follow Florida State Panama City on Pinterest"><i class="fa fa-pinterest ">&nbsp; </i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                &copy; @DateTime.Now.Year - Mentat.UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
