@model Mentat.UI.ViewModels.LoginViewModel;


<div class="modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
     aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <b>Log In</b>
                </h5>
            </div>
            <form id="loginForm" method="post">
                <div class="form-group">
                    <label for="UserName">Username:</label>
                    <input type="text" id="UserName" name="UserName" class="form-control"/>
                    <label for="Password">Password:</label>
                    <input type="password" id="Password" name="Password" class="form-control"/>
                    <label>@Html.RadioButton("UserType", 0)Student</label>
                    <label>@Html.RadioButton("UserType", 1)Mentor</label>
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close" onclick="redirectHomepage()">
                    <span aria-hidden="true">Close</span>
                </button>
            </form>
        </div>
    </div>
</div>


<script>
  function redirectHomepage() {
    window.location.href = "/";
  }
</script>