@using Mentat.Domain.Models

@model StudentVM

@{
    ViewData["Title"] = "Student";
}

<span class="dot"></span>
@Html.HiddenFor(m => m.NumberOfFlashCards)
@for(var i = 0; i < Model.NumberOfFlashCards; i++)
{
    var display = i == 0 ? "inline" : "none";
    <div id="flashcard_@i" style="display:@display">
        @Html.Partial("_Flashcard", Model.AvailableCards[i], new ViewDataDictionary(ViewData) { {"index", i} })
    </div>
}

<script src="~/js/Student.js"></script>