@{
    ViewData["Title"] = "Latest";
}

<div class="d-flex justify-content-between align-items-center">
    <h3>My Collections</h3>
    <a asp-controller="Student" asp-action="AddSet" class="btn btn-gold btn-sm rounded-pill align-self-center mt-auto mb-3" style="width: 230px">Create From Sratch</a>
</div>

<div class="d-flex justify-content-between align-items-center">
    <h3>Latest Collections</h3>
    <a asp-controller="Student" asp-action="Index" class="btn btn-gold btn-sm rounded-pill align-self-center mt-auto mb-3" style="width: 230px">Create From Existing</a>
</div>
