@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="offset-2 col-sm-4">
            <div class="card bg-black">
              <div class="card-body">
                <h2 class="card-title text-center text-on-dark font-weight-bold">Mentor</h2>
                <h5 class="card-text text-on-dark">Take the legwork outta teaching! Generate auto-grading scripts to quickly and accurately grade assignments.</h5>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
        </div>
        <div class="col-sm-4">
             <div class="card bg-primary">
              <div class="card-body">
                <h2 class="card-title text-center text-white font-weight-bold">Student</h2>
                <h5 class="card-text text-white">Study your way (to the top)! Create and memorize interactive flash cards.</h5>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
        </div>
    </div>
</div>