@{
    ViewData["Title"] = "Home";
}

<div class="container d-flex vh-60">
    <span class="dot"></span>

    <div class="wrapper my-auto">
        <div class="row d-flex">
            <div class="col-sm-12">
                <span><img src="~/images/fluent_brain-circuit-20-filled.png" /></span>
                <span class="align-middle title-text">Mentat</span>
                <span class="align-middle subtitle-text pt-4 pl-2">Grade.</span>
                <span class="align-middle subtitle-text pt-4" style="color: #782F40">Study.</span>
                <span class="align-middle subtitle-text pt-4">Succeed.</span>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <div class="card bg-black">
                    <div class="card-body text-center flex-column d-flex">
                        <img class="mx-auto" src="images/cil_apple.png" />
                        <h2 class="card-title text-center text-on-dark font-weight-bold">Mentor</h2>
                        <p class="card-text text-left text-on-dark px-5 pt-3">Take the legwork outta teaching! Generate auto-grading scripts to quickly and accurately grade assignments.</p>
                        <a asp-controller="Mentor" asp-action="Index" class="btn btn-gold btn-lg rounded-pill align-self-center mt-auto mb-3" style="width: 230px">GRADE</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="card bg-primary">
                    <div class="card-body text-center flex-column d-flex">
                        <img class="mx-auto" src="images/ph_student-fill.png" />
                        <h2 class="card-title text-center text-white font-weight-bold">Student</h2>
                        <p class="card-text text-left text-white px-5 pt-5">Study your way (<em>to the top</em>)! Create and memorize interactive flash cards.</p>
                        <a asp-controller="Student" asp-action="Index" class="btn btn-white btn-lg rounded-pill align-self-center mt-auto mb-3" style="width: 230px">STUDY</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>