@model Mentat.UI.Models.GradingScriptFormModel


<h1>Grading Script Configuration</h1>

<hr />

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h5>Generate New Grading Script</h5>
            </div>
            <div class="card-body">


                <form action="GetFormData" method="post">
                    <div class="mb-3">
                        <label class="form-label" asp-for="language"></label>
                        <input required class="form-control" asp-for="language" />
                        <small class="form-text text-muted">The programming language of the solution domain</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="file_names"></label>
                        <input required class="form-control" asp-for="file_names" />
                        <small class="form-text text-muted">A list of the names of the test files to be used</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="exec_name"></label>
                        <input required class="form-control" asp-for="exec_name" />
                        <small class="form-text text-muted">The name of the sample executable to be used</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="duration"></label>
                        <input required class="form-control" asp-for="duration" />
                        <small class="form-text text-muted">How long to wait before terminating student code during each test</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="diff_cmd"></label>
                        <input required class="form-control" asp-for="diff_cmd" />
                        <small class="form-text text-muted">
                            The diff command to be used for comparing student output to the output from the sample executable
                        </small>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary">Generate</button>
                    </div>
                </form>


            </div>
            <div class="class-footer">

            </div>
        </div>
    </div>
</div>