@{
    ViewData["Title"] = "Mentor";
}

<div class="text-center">
    <a asp-controller="Mentor" asp-action="AddAssignment" class="btn btn-gold btn-lg rounded-pill align-self-center mt-auto mb-3" style="width: 230px">Create Assignment</a>
</div>