/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  height: 100% !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.page-footer {
  padding: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 1.777;
}

.footer-content {
  height:140px;
  background: #d5d4d4;
  height:140px;
  background: #d5d4d4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.footer-content p {
  margin: 4rem 0 5rem 0;
  font-size: 80%;
}

.footer-content a {
  color: rgb(120, 47, 64);
  text-decoration: none;
  font-weight: 600;

}

.footer-content a:hover {
  color: white;
  transition: color .4s ease;
}

.socials {
  list-style: none;
  display: flex;
  align-items:center;
  justify-content: center;
  margin: 2rem 0 1rem 0;
}

.socials a {
  color: rgb(120, 47, 64);
  text-decoration: none;
}

.socials li{
  margin: 0 7px;
}

.socials a i {
  font-size: 1.2rem;
  width: 30px;
  padding: 3em 0em;
}

.socials a:hover i{
  color: white;
  transition: color .4s ease;
}

.Privacy {
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: #782f40;
  background-size: cover;
}

.Privacy a {
  color: #ceb888 !important;
  text-decoration: none;
  font-weight: 600;
}

.Mentat-privacy {
  margin: 1rem 0 5rem 0;
  font-size: 80%;
  color: #fdfcfc;
}

.footer-content2 {
  background: #782f40;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align:left;
}

.footer-content2 p {
  margin: 1rem 0 5rem 0;
  font-size: 80%;
  color: #fdfcfc;
  padding-left: 80px;
  justify-content: center;
  flex-direction: column;
}

.footer-content2 a {
  color: #ceb888 !important;
  text-decoration: none;
  font-weight: 600;
}

.footer-content2 a:hover {
  color: white;
  transition: color .4s ease;
}

/* FSU Theme Colors */

.bg-primary {
    background-color: #782F40;
}

.fsu-maroon-color {
    color: #782F40;
}

.fsu-black-color {
    color: #000;
}

.bg-secondary {
    background-color: #CEB888 !important;
}

.vh-50 {
    min-height: 50vh;
}

.vh-75 {
    min-height: 75vh;
}

.vh-60 {
    min-height: 60vh;
}

.card-text {
    font-size: 1.5rem;
    line-height: 1;
}

.title-text {
    font-size: 3.5rem;
    color: #782F40;
    font-weight: 600;
}

.subtitle-text {
    font-size: 2rem;
    font-weight: 500;
}

body, html {
    background-color: #f7edd7;
}

.dot {
    height: 1750px;
    width: 1750px;
    background-color: #CEB888;
    border-radius: 50%;
    position: absolute;
    top: -1000px;
    left: -250px;
}

.navbar {
    z-index: 10;
}

.carousel-height {
    min-height: 400px;
}

.card-carousel {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.5rem;
    height: 250px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-right: 25px;
    padding-left: 25px;
    width: 40rem;
}

.carousel-indicators li {
    background-color: #782F40;
}

.carousel-card-title {
    color: #782F40;
    font-size: 1.5rem;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23782F40' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23782F40' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.long-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}

.long-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
