/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align:left;
}

.footer-content p {
  margin: 2rem 0 1rem 0;
  font-size: 80%;
}

.footer-content a {
  color: rgb(120, 47, 64);
  text-decoration: none;
  font-weight: 600;

}

.footer-content a:hover {
   color: white;
   transition: color .4s ease;
}
.socials {
    list-style: none;
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 2rem 0 1rem 0;
}

.socials a {
  color: rgb(120, 47, 64);
  text-decoration: none;
}

.socials li{
    margin: 0 7px;
}

.socials a i {
    font-size: 1.2rem;
}

.socials a:hover i{
    color: white;
    transition: color .4s ease;
}