html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Roboto", sans-serif;
}



div.login-logout-tab div.card-header {
    padding: 0px 0px 12px 0px;
}

div.login-logout-tab ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

div.login-logout-tab li.nav-item {
    width: 50%;
}

div.login-logout-tab a.nav-link {
    font-size: 25px;
    color: #495057;
    text-align: center;
}

div.card-content {
    padding: 10px 20px;
}

/*login form*/
div.login-form-icon {
    text-align: center;
}

div.form-group {
    margin-bottom: 10px;
}

div.form-floating {
    margin-bottom: 10px;
}

div.login-form-icon {
    margin-bottom: 10px;
}
